.formTitle{
    text-align: center;
}

.form-check-label{
    color: blue;
}

.addressLineMargin{
    margin-top: 10px;
}

th, td{
    text-align: center;
    vertical-align: middle;
}

.table-responsive {
    max-height: 500px;
}

@media all and (max-width: 767px) {
    .nameField{
        margin-top: 10px;
    }
}